{
  "presets": [
    [
      "@babel/env",
      {
        "exclude": ["transform-typeof-symbol"]
      }
    ],
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ]
}
